$drawer-width: 240px;

.root {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.title {
    flex-grow: 1;
}

.menuButton {
    color: white !important;
}

.appBar {
    position: absolute;
    background: linear-gradient(-135deg, #17EAD9 0%, #6078EA 100%);
    color: white;
    z-index: 9999;
    // width: calc(100% - #{drawer-width}) !important;
    // float: right;
}

.paper {
    width: $drawer-width;
    background: white;
    margin-top: 64px;
    height: calc(100% - 99px);
    position: relative;
}

.drawer {

    :global {
        .MuiPaper-root {
            width: $drawer-width;
        }
    }
}

.content {
    flex-grow: 1;
    background-color: #fafafa;
    padding: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 80px);
    overflow-y: scroll;
    margin-top: 64px;
}
