@import '../../../../scss/variables';

.AppSection {
    height: 100%;
}

.wrapper {
    // padding: 50px 30px;
    // max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
