@import '../../../../scss/variables';

.AppSection {
    height: 100%;
    width: 100%;
    // position: absolute;
    // top: 0;
}

.wrapper {
    // padding: 50px 30px;
    // max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

// @media screen and (min-width: $desktop-breakpoint) {
//     .AppSection {
//         height: calc(100% - #{$header-height});
//         margin-top: $header-height;
//         top: $header-height;
//     }
// }
