.wrapper {
    background-color: transparent !important;
    box-shadow: none !important;
}

.menuIcon {
    width: 2.5rem!important;
    height: 2.5rem !important;
}

.title {
    color: var(--c-text) !important;
}
