.button {
    background-color: var(--c-primary) !important;
    color: var(--c-text) !important;
    box-shadow: none !important;
    font-size: 1.7rem !important;
    border-radius: 0.8rem !important;
    text-transform: initial!important;
    cursor: pointer;
}
