.App {
    width: 100%;
    text-align: center;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &-UninstallButton {
        position: absolute;
        background: white;
        color: gray;
        border:2px solid gray;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        text-align: center;
        line-height: 35px;
        font-size: 19px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
    }

    &-Title {
        position: relative;
        z-index: 2;
        display: block;
        color: white;
        text-shadow: #373737 1px 1px 5px;
    }

    &-Icon {
        // filter: drop-shadow(5px 15px 16px #000000);
        position: relative;
        z-index: 1;

        img {
            border-radius: 10px;
            width: 100%;
            max-height: 100%;
        }
    }
}

@media screen and (min-width: 960px) {
    .App {
        // padding-bottom: 80px;
    }

    .App-Icon {
        img {
            width: 65%;
        }
    }
}
