.button {
    background-color: var(--c-primary) !important;
    color: var(--c-text) !important;
    box-shadow: none !important;
    font-size: 1.4rem !important;
    border-radius: 2rem !important;
}
