@import '../../../scss/variables';

.header {
    color: white;
    font-weight: 100;
    font-size: 1.6rem;
    width: 100%;
    height: $header-height-mobile;

    background: var(--c-status-bar);
    backdrop-filter: blur(200px);

    position: fixed;
    top: 0;
    z-index: 20;

    // border-bottom: 2px solid rgba(86, 86, 86, 0.63);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item {
        padding: 0 1rem;
        color: var(--c-black);
    }

    &__logo {
        height: 2.8rem;
        filter: var(--logo-filter);
    }

    &__controls {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__menu-button {
        color: var(--c-black) !important;
    }

    &--no-transparent {
        background-color: #252525;
    }
}


// Desktop only styles.
@media screen and (min-width: 767px) {
    .Header {
        height: $header-height;
    }
}
