.textfield {
    font-size: 1.6rem;
    margin-bottom: 2rem !important;
}

.input {
    font-size: inherit !important;
    color: var(--c-text) !important;
}

.label {
    font-size: inherit !important;
}
