@import '../../../../scss/variables';

$appbar-height: 35px;
$window-border-radius: 5px;

.app-title-bar {
    width: 100%;
    height: $appbar-height;
    background: #f6f6f6;
    color: #3c3c3c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
    position: relative;
    z-index: 9999;
    font-size: 1.6rem;

    @media screen and (min-width: $desktop-breakpoint) {
        border-top-left-radius: $window-border-radius;
        border-top-right-radius: $window-border-radius;
    }
}

.placeholder {
    width: 48px;
    height: 48px;
}
