@import '../../../../scss/variables';

.Header {
    color: white;
    font-weight: 100;
    font-size: 16px;
    width: 100%;
    height: $header-height-mobile;

    background: rgba(50, 50, 50, 0.8);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid #3C3C3C;

    position: fixed;
    top: 0;
    z-index: 20;

    // border-bottom: 2px solid rgba(86, 86, 86, 0.63);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &-Item {
        width: 33.333333%;
    }

    &-Controls {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &--no-transparent {
        background-color: #252525;
    }
}


// Desktop only styles.
@media screen and (min-width: 767px) {
    .Header {
        height: $header-height;
    }
}
