@import '../../../../scss/variables';

:local .CloseAppButton {
    background-color: #333333;
    width: $header-height;
    height: $header-height;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;

    &.inactive {
        visibility: hidden;
        opacity: 0;
    }
}

:local .Icon {
    color:white !important;
}
