.defaultLayout {
    position: fixed;
    width: 100%;
    height: 100%;

    &Background {
        position: absolute;
        top: 0;
        background-color: #252525;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: background-image 2s ease-in-out;
        width: 100%;
        height: 100%;
        position: fixed;

        &Default {
            background-image: url('/res/img/background.jpg');
        }
    }

    &Panel {
        width: 300px;
        height: 250px;
        position: absolute;
        left: 0;
        right: 0;
        top: -100px;
        bottom: 0;
        margin: auto;

        &Paper {
            padding: 20px;
        }

        &Message {
            display: block;

            &Logo {
                text-align: center;
                color: black;
                font-size: 40px;
                -webkit-font-smoothing: antialiased;
                letter-spacing: 0;
                display: block;
            }

            &-Description {
                text-align: center;
                color: black;
                font-size: 18px;
                -webkit-font-smoothing: antialiased;
                letter-spacing: 0;
                display: block;
            }
        }

        &Content {
            margin-top:20px;
        }
    }

}

.childrenWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}
