.drawerList {
    width: 250px;
}

.side-navigation {
    z-index: 1;

    &__paper {
        color: var(--c-black) !important;
        background-color: var(--c-white) !important;
    }

    &__list-item-icon {
        color: var(--c-black) !important;
    }
}

.drawer {
    z-index: 1;
    // background-color: #333333;
}

.profilePic {
    position: absolute;
    top:4px;
    right: 20px;
}
