:local .loadingWrapper {
    margin: 0 auto;
    text-align: center;
}

:local .welcomeText {
    opacity: 0;
    margin-bottom: 1em !important;
    transition: opacity 1s ease-in-out;
}

:local .welcomeTextShow {
    opacity: 1;
}

.input {
    margin-bottom: 20px!important;
}

.button {
    margin-bottom: 20px!important;
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: #3c3c3c;
}
