$header-height: 38px;
$header-height-mobile: 40px;
$app-section-width: 900px;
$dashboard-tab-size: 48px;


$desktop-breakpoint: 960px;

$container-large: 1500px;

:root {
    --default-background: linear-gradient(45deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
}
