.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: absolute;
}

.apps {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: scroll;
    padding: 2rem 0 0 3rem;
}
